<% content_for(:title, @lesson.name) %>

<h1>Lesson: <%= @lesson.name %></h1>

<li><%= @lesson.text %></li>

<h5><%= link_to 'Home', root_path %></h5>

id<%= @lesson.id %>
number<%= @lesson.number %>
<% if @lesson.next %>
<h5><%= link_to "Next Lesson", lesson_path(@lesson.next) %></h5>
<% end %>
